# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio files
*.db
*.ipch
DocumentLayout.json
DocumentLayout.*
*.vsidx
SemanticSymbols.*
*.suo


/tema_1/codi_sessions_classe/sessio_7/activitat_sessio/.vs/Estudiant
/tema_1/codi_sessions_classe/sessio_9/exercici_sessio_classe_data/.vs/Data
/tema_1/codi_sessions_classe/sessio_10/activitat Sessio - Tauler Dames/.vs/fitxers_posicio_dames
/tema_1/codi_sessions_classe/sessio_10/exercici_dames_classe_posicio/.vs/fitxers_posicio_dames
*.opendb
*.db-wal
*.db-shm
